# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
VERSION/1.0/assets/api/api_letter_a/
assets/api/api_letter_a/backup/06-2024/23-06-2024/api.zip
VERSION/1.0/windows/runner/win32_window.h
VERSION/1.0/windows/runner/win32_window.cpp
VERSION/1.0/windows/runner/utils.h
VERSION/1.0/windows/runner/utils.cpp
VERSION/1.0/windows/runner/Runner.rc
VERSION/1.0/windows/runner/runner.exe.manifest
VERSION/1.0/windows/runner/resources/app_icon.ico
VERSION/1.0/windows/runner/resource.h
VERSION/1.0/windows/runner/main.cpp
VERSION/1.0/windows/runner/flutter_window.h
VERSION/1.0/windows/runner/flutter_window.cpp
VERSION/1.0/windows/runner/CMakeLists.txt
VERSION/1.0/windows/flutter/generated_plugins.cmake
VERSION/1.0/windows/flutter/generated_plugin_registrant.h
VERSION/1.0/windows/flutter/generated_plugin_registrant.cc
VERSION/1.0/windows/flutter/CMakeLists.txt
VERSION/1.0/windows/CMakeLists.txt
VERSION/1.0/web/manifest.json
VERSION/1.0/web/index.html
VERSION/1.0/web/icons/Icon-maskable-512.png
VERSION/1.0/web/icons/Icon-maskable-192.png
VERSION/1.0/web/icons/Icon-512.png
VERSION/1.0/web/icons/Icon-192.png
VERSION/1.0/web/favicon.png
VERSION/1.0/README.md
VERSION/1.0/pubspec.yaml
VERSION/1.0/pubspec.lock
VERSION/1.0/macos/RunnerTests/RunnerTests.swift
VERSION/1.0/macos/Runner/Release.entitlements
VERSION/1.0/macos/Runner/MainFlutterWindow.swift
VERSION/1.0/macos/Runner/Info.plist
VERSION/1.0/macos/Runner/DebugProfile.entitlements
VERSION/1.0/macos/Runner/Configs/Warnings.xcconfig
VERSION/1.0/macos/Runner/Configs/Release.xcconfig
VERSION/1.0/macos/Runner/Configs/Debug.xcconfig
VERSION/1.0/macos/Runner/Configs/AppInfo.xcconfig
VERSION/1.0/macos/Runner/Base.lproj/MainMenu.xib
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
VERSION/1.0/macos/Runner/AppDelegate.swift
VERSION/1.0/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/macos/Runner.xcworkspace/contents.xcworkspacedata
VERSION/1.0/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
VERSION/1.0/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/macos/Runner.xcodeproj/project.pbxproj
VERSION/1.0/macos/Flutter/GeneratedPluginRegistrant.swift
VERSION/1.0/macos/Flutter/Flutter-Release.xcconfig
VERSION/1.0/macos/Flutter/Flutter-Debug.xcconfig
VERSION/1.0/linux/my_application.h
VERSION/1.0/linux/my_application.cc
VERSION/1.0/linux/main.cc
VERSION/1.0/linux/flutter/generated_plugins.cmake
VERSION/1.0/linux/flutter/generated_plugin_registrant.h
VERSION/1.0/linux/flutter/generated_plugin_registrant.cc
VERSION/1.0/linux/flutter/CMakeLists.txt
VERSION/1.0/linux/CMakeLists.txt
VERSION/1.0/lib/widgets/text_multiline
VERSION/1.0/lib/widgets/statistik_widgets.dart
VERSION/1.0/lib/widgets/menu_arrow_widgets.dart
VERSION/1.0/lib/widgets/item_message_widgets.dart
VERSION/1.0/lib/widgets/input_widgets.dart
VERSION/1.0/lib/widgets/gap_column_input_style.dart
VERSION/1.0/lib/widgets/checkbox_widgets.dart
VERSION/1.0/lib/widgets/buttons_widgets.dart
VERSION/1.0/lib/widgets/button_image_widgets.dart
VERSION/1.0/lib/widgets/appbar_widgets.dart
VERSION/1.0/lib/styles/typography_style.dart
VERSION/1.0/lib/styles/colors_style.dart
VERSION/1.0/lib/pages/user/va/va/free_va_detail_page.dart
VERSION/1.0/lib/pages/user/va/va/free_chat_page.dart
VERSION/1.0/lib/pages/user/va/statistik/free_statistik_page.dart
VERSION/1.0/lib/pages/user/va/profile/free_profile_client_page.dart
VERSION/1.0/lib/pages/user/va/message/free_list_message_page.dart
VERSION/1.0/lib/pages/user/va/info/free_info_page.dart
VERSION/1.0/lib/pages/user/va/home/free_home_page.dart
VERSION/1.0/lib/pages/user/va/free_main_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_work_experience_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_social_media_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_portfolio_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_personal_data_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_page.dart
VERSION/1.0/lib/pages/user/client/va/va_detail_page.dart
VERSION/1.0/lib/pages/user/client/va/chat_page.dart
VERSION/1.0/lib/pages/user/client/statistik/statistik_page.dart
VERSION/1.0/lib/pages/user/client/review/sent_review_alert.dart
VERSION/1.0/lib/pages/user/client/review/review_page.dart
VERSION/1.0/lib/pages/user/client/profile/profile_client_page.dart
VERSION/1.0/lib/pages/user/client/message/list_message_page.dart
VERSION/1.0/lib/pages/user/client/main_page.dart
VERSION/1.0/lib/pages/user/client/info/info_page.dart
VERSION/1.0/lib/pages/user/client/home/home_page.dart
VERSION/1.0/lib/pages/user/client/hire/will_hire_alert.dart
VERSION/1.0/lib/pages/user/client/hire/payment_page.dart
VERSION/1.0/lib/pages/user/client/hire/hired_page.dart
VERSION/1.0/lib/pages/user/client/hire/end_collaboration_alert.dart
VERSION/1.0/lib/pages/user/client/auth/sign_up_personal_data_page.dart
VERSION/1.0/lib/pages/user/client/auth/sign_up_page.dart
VERSION/1.0/lib/pages/sign_up_new_account_page.dart
VERSION/1.0/lib/pages/info/terms_and_onditions_page.dart
VERSION/1.0/lib/pages/info/imprint_page.dart
VERSION/1.0/lib/pages/info/data_protexttion_page.dart
VERSION/1.0/lib/main.dart
VERSION/1.0/ios/RunnerTests/RunnerTests.swift
VERSION/1.0/ios/Runner/Runner-Bridging-Header.h
VERSION/1.0/ios/Runner/Info.plist
VERSION/1.0/ios/Runner/Base.lproj/Main.storyboard
VERSION/1.0/ios/Runner/Base.lproj/LaunchScreen.storyboard
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
VERSION/1.0/ios/Runner/AppDelegate.swift
VERSION/1.0/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
VERSION/1.0/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/ios/Runner.xcworkspace/contents.xcworkspacedata
VERSION/1.0/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VERSION/1.0/ios/Runner.xcodeproj/project.pbxproj
VERSION/1.0/ios/Flutter/Release.xcconfig
VERSION/1.0/ios/Flutter/Debug.xcconfig
VERSION/1.0/ios/Flutter/AppFrameworkInfo.plist
VERSION/1.0/assets/images/img_va_sign_up_page.png
VERSION/1.0/assets/images/img_va_sign_up.png
VERSION/1.0/assets/images/img_sign_up_client.png
VERSION/1.0/assets/images/img_logo_vertical_color.png
VERSION/1.0/assets/images/img_logo_transparent_white.png
VERSION/1.0/assets/images/img_client_sign_up_page.png
VERSION/1.0/assets/images/img_client_sign_up.png
VERSION/1.0/assets/icons/img_label_working.svg
VERSION/1.0/assets/icons/img_chat.svg
VERSION/1.0/assets/icons/img_background_hired.svg
VERSION/1.0/assets/icons/icon_upload.svg
VERSION/1.0/assets/icons/icon_star_yellow.svg
VERSION/1.0/assets/icons/icon_sosial_linkedin.svg
VERSION/1.0/assets/icons/icon_sosial_instagram.svg
VERSION/1.0/assets/icons/icon_sosial_facebook.svg
VERSION/1.0/assets/icons/icon_send.svg
VERSION/1.0/assets/icons/icon_message.svg
VERSION/1.0/assets/icons/icon_image.svg
VERSION/1.0/assets/icons/icon_google.svg
VERSION/1.0/assets/icons/icon_file.svg
VERSION/1.0/assets/icons/icon_facebook.svg
VERSION/1.0/assets/icons/icon_back.svg
VERSION/1.0/assets/fonts/Poppins-ThinItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Thin.ttf
VERSION/1.0/assets/fonts/Poppins-SemiBoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-SemiBold.ttf
VERSION/1.0/assets/fonts/Poppins-Regular.ttf
VERSION/1.0/assets/fonts/Poppins-MediumItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Medium.ttf
VERSION/1.0/assets/fonts/Poppins-LightItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Light.ttf
VERSION/1.0/assets/fonts/Poppins-Italic.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraLightItalic.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraLight.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraBoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraBold.ttf
VERSION/1.0/assets/fonts/Poppins-BoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Bold.ttf
VERSION/1.0/assets/fonts/Poppins-BlackItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Black.ttf
VERSION/1.0/assets/fonts/Inter-VariableFont_slnt,wght.ttf
VERSION/1.0/assets/fonts/Inter-Thin.ttf
VERSION/1.0/assets/fonts/Inter-SemiBold.ttf
VERSION/1.0/assets/fonts/Inter-Regular.ttf
VERSION/1.0/assets/fonts/Inter-Medium.ttf
VERSION/1.0/assets/fonts/Inter-Light.ttf
VERSION/1.0/assets/fonts/Inter-ExtraLight.ttf
VERSION/1.0/assets/fonts/Inter-ExtraBold.ttf
VERSION/1.0/assets/fonts/Inter-Bold.ttf
VERSION/1.0/assets/fonts/Inter-Black.ttf
VERSION/1.0/android/settings.gradle
VERSION/1.0/android/gradle/wrapper/gradle-wrapper.properties
VERSION/1.0/android/gradle.properties
VERSION/1.0/android/build.gradle
VERSION/1.0/android/app/src/profile/AndroidManifest.xml
VERSION/1.0/android/app/src/main/res/values/styles.xml
VERSION/1.0/android/app/src/main/res/values-night/styles.xml
VERSION/1.0/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/drawable/launch_background.xml
VERSION/1.0/android/app/src/main/res/drawable-v21/launch_background.xml
VERSION/1.0/android/app/src/main/kotlin/com/example/letter_a/MainActivity.kt
VERSION/1.0/android/app/src/main/AndroidManifest.xml
VERSION/1.0/android/app/src/debug/AndroidManifest.xml
VERSION/1.0/android/app/build.gradle
VERSION/1.0/analysis_options.yaml
VERSION/1.0/.metadata
VERSION/1.0/.metadata
VERSION/1.0/analysis_options.yaml
VERSION/1.0/android/app/build.gradle
VERSION/1.0/android/app/src/debug/AndroidManifest.xml
VERSION/1.0/android/app/src/main/AndroidManifest.xml
VERSION/1.0/android/app/src/main/kotlin/com/example/letter_a/MainActivity.kt
VERSION/1.0/android/app/src/main/res/drawable-v21/launch_background.xml
VERSION/1.0/android/app/src/main/res/drawable/launch_background.xml
VERSION/1.0/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
VERSION/1.0/android/app/src/main/res/values-night/styles.xml
VERSION/1.0/android/app/src/main/res/values/styles.xml
VERSION/1.0/android/app/src/profile/AndroidManifest.xml
VERSION/1.0/android/build.gradle
VERSION/1.0/android/gradle.properties
VERSION/1.0/android/gradle/wrapper/gradle-wrapper.properties
VERSION/1.0/android/settings.gradle
VERSION/1.0/assets/fonts/Inter-Black.ttf
VERSION/1.0/assets/fonts/Inter-Bold.ttf
VERSION/1.0/assets/fonts/Inter-ExtraBold.ttf
VERSION/1.0/assets/fonts/Inter-ExtraLight.ttf
VERSION/1.0/assets/fonts/Inter-Light.ttf
VERSION/1.0/assets/fonts/Inter-Medium.ttf
VERSION/1.0/assets/fonts/Inter-Regular.ttf
VERSION/1.0/assets/fonts/Inter-SemiBold.ttf
VERSION/1.0/assets/fonts/Inter-Thin.ttf
VERSION/1.0/assets/fonts/Inter-VariableFont_slnt,wght.ttf
VERSION/1.0/assets/fonts/Poppins-Black.ttf
VERSION/1.0/assets/fonts/Poppins-BlackItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Bold.ttf
VERSION/1.0/assets/fonts/Poppins-BoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraBold.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraBoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraLight.ttf
VERSION/1.0/assets/fonts/Poppins-ExtraLightItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Italic.ttf
VERSION/1.0/assets/fonts/Poppins-Light.ttf
VERSION/1.0/assets/fonts/Poppins-LightItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Medium.ttf
VERSION/1.0/assets/fonts/Poppins-MediumItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Regular.ttf
VERSION/1.0/assets/fonts/Poppins-SemiBold.ttf
VERSION/1.0/assets/fonts/Poppins-SemiBoldItalic.ttf
VERSION/1.0/assets/fonts/Poppins-Thin.ttf
VERSION/1.0/assets/fonts/Poppins-ThinItalic.ttf
VERSION/1.0/assets/icons/icon_back.svg
VERSION/1.0/assets/icons/icon_facebook.svg
VERSION/1.0/assets/icons/icon_file.svg
VERSION/1.0/assets/icons/icon_google.svg
VERSION/1.0/assets/icons/icon_image.svg
VERSION/1.0/assets/icons/icon_message.svg
VERSION/1.0/assets/icons/icon_send.svg
VERSION/1.0/assets/icons/icon_sosial_facebook.svg
VERSION/1.0/assets/icons/icon_sosial_instagram.svg
VERSION/1.0/assets/icons/icon_sosial_linkedin.svg
VERSION/1.0/assets/icons/icon_star_yellow.svg
VERSION/1.0/assets/icons/icon_upload.svg
VERSION/1.0/assets/icons/img_background_hired.svg
VERSION/1.0/assets/icons/img_chat.svg
VERSION/1.0/assets/icons/img_label_working.svg
VERSION/1.0/assets/images/img_client_sign_up.png
VERSION/1.0/assets/images/img_client_sign_up_page.png
VERSION/1.0/assets/images/img_logo_transparent_white.png
VERSION/1.0/assets/images/img_logo_vertical_color.png
VERSION/1.0/assets/images/img_sign_up_client.png
VERSION/1.0/assets/images/img_va_sign_up.png
VERSION/1.0/assets/images/img_va_sign_up_page.png
VERSION/1.0/ios/Flutter/AppFrameworkInfo.plist
VERSION/1.0/ios/Flutter/Debug.xcconfig
VERSION/1.0/ios/Flutter/Release.xcconfig
VERSION/1.0/ios/Runner.xcodeproj/project.pbxproj
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
VERSION/1.0/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
VERSION/1.0/ios/Runner.xcworkspace/contents.xcworkspacedata
VERSION/1.0/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
VERSION/1.0/ios/Runner/AppDelegate.swift
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
VERSION/1.0/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
VERSION/1.0/ios/Runner/Base.lproj/LaunchScreen.storyboard
VERSION/1.0/ios/Runner/Base.lproj/Main.storyboard
VERSION/1.0/ios/Runner/Info.plist
VERSION/1.0/ios/Runner/Runner-Bridging-Header.h
VERSION/1.0/ios/RunnerTests/RunnerTests.swift
VERSION/1.0/lib/main.dart
VERSION/1.0/lib/pages/info/data_protexttion_page.dart
VERSION/1.0/lib/pages/info/imprint_page.dart
VERSION/1.0/lib/pages/info/terms_and_onditions_page.dart
VERSION/1.0/lib/pages/sign_up_new_account_page.dart
VERSION/1.0/lib/pages/user/client/auth/sign_up_page.dart
VERSION/1.0/lib/pages/user/client/auth/sign_up_personal_data_page.dart
VERSION/1.0/lib/pages/user/client/hire/end_collaboration_alert.dart
VERSION/1.0/lib/pages/user/client/hire/hired_page.dart
VERSION/1.0/lib/pages/user/client/hire/payment_page.dart
VERSION/1.0/lib/pages/user/client/hire/will_hire_alert.dart
VERSION/1.0/lib/pages/user/client/home/home_page.dart
VERSION/1.0/lib/pages/user/client/info/info_page.dart
VERSION/1.0/lib/pages/user/client/main_page.dart
VERSION/1.0/lib/pages/user/client/message/list_message_page.dart
VERSION/1.0/lib/pages/user/client/profile/profile_client_page.dart
VERSION/1.0/lib/pages/user/client/review/review_page.dart
VERSION/1.0/lib/pages/user/client/review/sent_review_alert.dart
VERSION/1.0/lib/pages/user/client/statistik/statistik_page.dart
VERSION/1.0/lib/pages/user/client/va/chat_page.dart
VERSION/1.0/lib/pages/user/client/va/va_detail_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_personal_data_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_portfolio_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_social_media_page.dart
VERSION/1.0/lib/pages/user/va/auth/free_sign_up_work_experience_page.dart
VERSION/1.0/lib/pages/user/va/free_main_page.dart
VERSION/1.0/lib/pages/user/va/home/free_home_page.dart
VERSION/1.0/lib/pages/user/va/info/free_info_page.dart
VERSION/1.0/lib/pages/user/va/message/free_list_message_page.dart
VERSION/1.0/lib/pages/user/va/profile/free_profile_client_page.dart
VERSION/1.0/lib/pages/user/va/statistik/free_statistik_page.dart
VERSION/1.0/lib/pages/user/va/va/free_chat_page.dart
VERSION/1.0/lib/pages/user/va/va/free_va_detail_page.dart
VERSION/1.0/lib/styles/colors_style.dart
VERSION/1.0/lib/styles/typography_style.dart
VERSION/1.0/lib/widgets/appbar_widgets.dart
VERSION/1.0/lib/widgets/button_image_widgets.dart
VERSION/1.0/lib/widgets/buttons_widgets.dart
VERSION/1.0/lib/widgets/checkbox_widgets.dart
VERSION/1.0/lib/widgets/gap_column_input_style.dart
VERSION/1.0/lib/widgets/input_widgets.dart
VERSION/1.0/lib/widgets/item_message_widgets.dart
VERSION/1.0/lib/widgets/menu_arrow_widgets.dart
VERSION/1.0/lib/widgets/statistik_widgets.dart
VERSION/1.0/lib/widgets/text_multiline
VERSION/1.0/linux/CMakeLists.txt
VERSION/1.0/linux/flutter/CMakeLists.txt
VERSION/1.0/linux/flutter/generated_plugin_registrant.cc
VERSION/1.0/linux/flutter/generated_plugin_registrant.h
VERSION/1.0/linux/flutter/generated_plugins.cmake
VERSION/1.0/linux/main.cc
VERSION/1.0/linux/my_application.cc
VERSION/1.0/linux/my_application.h
VERSION/1.0/macos/Flutter/Flutter-Debug.xcconfig
VERSION/1.0/macos/Flutter/Flutter-Release.xcconfig
VERSION/1.0/macos/Flutter/GeneratedPluginRegistrant.swift
VERSION/1.0/macos/Runner.xcodeproj/project.pbxproj
VERSION/1.0/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
VERSION/1.0/macos/Runner.xcworkspace/contents.xcworkspacedata
VERSION/1.0/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VERSION/1.0/macos/Runner/AppDelegate.swift
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
VERSION/1.0/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
VERSION/1.0/macos/Runner/Base.lproj/MainMenu.xib
VERSION/1.0/macos/Runner/Configs/AppInfo.xcconfig
VERSION/1.0/macos/Runner/Configs/Debug.xcconfig
VERSION/1.0/macos/Runner/Configs/Release.xcconfig
VERSION/1.0/macos/Runner/Configs/Warnings.xcconfig
VERSION/1.0/macos/Runner/DebugProfile.entitlements
VERSION/1.0/macos/Runner/Info.plist
VERSION/1.0/macos/Runner/MainFlutterWindow.swift
VERSION/1.0/macos/Runner/Release.entitlements
VERSION/1.0/macos/RunnerTests/RunnerTests.swift
VERSION/1.0/pubspec.lock
VERSION/1.0/pubspec.yaml
VERSION/1.0/README.md
VERSION/1.0/web/favicon.png
VERSION/1.0/web/icons/Icon-192.png
VERSION/1.0/web/icons/Icon-512.png
VERSION/1.0/web/icons/Icon-maskable-192.png
VERSION/1.0/web/icons/Icon-maskable-512.png
VERSION/1.0/web/index.html
VERSION/1.0/web/manifest.json
VERSION/1.0/windows/CMakeLists.txt
VERSION/1.0/windows/flutter/CMakeLists.txt
VERSION/1.0/windows/flutter/generated_plugin_registrant.cc
VERSION/1.0/windows/flutter/generated_plugin_registrant.h
VERSION/1.0/windows/flutter/generated_plugins.cmake
VERSION/1.0/windows/runner/CMakeLists.txt
VERSION/1.0/windows/runner/flutter_window.cpp
VERSION/1.0/windows/runner/flutter_window.h
VERSION/1.0/windows/runner/main.cpp
VERSION/1.0/windows/runner/resource.h
VERSION/1.0/windows/runner/resources/app_icon.ico
VERSION/1.0/windows/runner/runner.exe.manifest
VERSION/1.0/windows/runner/Runner.rc
VERSION/1.0/windows/runner/utils.cpp
VERSION/1.0/windows/runner/utils.h
VERSION/1.0/windows/runner/win32_window.cpp
VERSION/1.0/windows/runner/win32_window.h
